   

   <div class="container" id="quickDash">

            <!-- <div class="welcome">
                <div>Welcome to the Goodreads/Amazon Reviews Tool. To begin, search for a title along the left-hand navbar by author, keyword, or isbn. Then perform various analysis via the options in the left-hand bar. </div>
               </div> -->
		<div class="row" style="margin-bottom: 30px">
		  <div class="col-md-4 quick_box">
		  	 	<div style="background-image:url('/assets/cloud.png')" class="quickDashImage" id="wordcloudquick" value="wordCloudTab">
		 	 		<h5>Word Clouds</h5>
		 		 <img class="demo_img" src="/assets/cloud.png">
		  		</div>
		  </div>
		  <div class="col-md-4 quick_box">
		  	<div class="quickDashImage" id="textAnalysisQuick" value="textual_analysis_tab">
			  	<h5>Textual Analysis</h5>
			  	<img class="demo_img" src="/assets/ngrams.png">
		  	</div>
		  </div>

		  <div class="col-md-4 quick_box">
		  	<div class="quickDashImage" id="shelvesQuick" value="shelvesTab">
		  		<h5>Goodreads Shelves</h5>
		  	<img class="demo_img" src="/assets/shelves.png">
		  	</div>
		  </div>
		</div>
   </div>  
 