<div id="wrapper">
	<div id="page-content-wrapper">
		<div class="welcomeBox">
			<h1>Welcome to the Goodreads/Amazon Reviews Tool</h1>
			<h2>To begin, search for a title along the left-hand navbar by author, keyword, or isbn.</h2>
			<h2>Then perform various analysis via the options in the left-hand bar.</h2>
		 </div>
		 <i class="fa fa-arrow-up fa-3x fa-rotate-90 blink_me fa-inverse"></i>
	</div>
</div>